:root {
  --dark-green: #132a13;
  --medium-dark-green: #31572c;
  --medium-light-green: #90a955;
  --light-green: #ecf39e;
}

body {
  margin: 0;
  background-color: var(--dark-green);
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
}

h1,
p,
a {
  color: var(--light-green);
}

h2 {
  color: var(--medium-light-green);
}
